@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x:hidden;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

.modal-backdrop {
    --bs-backdrop-bg: #1E212C;
    --bs-backdrop-opacity: 0.75;
    background: var(--bs-backdrop-bg) !important;

}