:root{
    --primary-color:rgb(23, 105, 106);
    --primary-color-4: rgba(23, 105, 106, 0.4);
    --primary-color-1: rgba(23, 105, 106, 0.12);
    --secondary-color:#D7DADD;
    --thirdy-color: #F4F5F7;
    --top-color:#1E212C;
    --section-color:#E5E8ED;
    --cart-color:#03CEA4;
    --cancel-color: rgb(255, 66, 66);
    --cancel-color-4: rgba(255, 66, 66, 0.4);
    --select-color:#424551;
    --text-color:#787A80;
    --text-color-1:rgba(120, 122, 128, 0.12);
    --hover-color:rgb(76, 161, 163);
    --white-color:#fff;
    --placeholder-color:#9A9CA5;

    --transition: all .4s ease-in-out;
}